<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <%= link_to 'Logo', client_root_path, class: 'navbar-brand' %>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: 'nav-link' unless user_signed_in? %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' unless user_signed_in? %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Language</a>
      </li>
      <li class="nav-item">
        <button class="navbar-toggler" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <span class="navbar-toggler-icon"></span>
        </button>
      </li>
    </ul>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Info</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body text-decoration-none">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <% if current_user %>
            <li class="nav-item">
              Username:
            </li>
            <li class="nav-item">
              Email: <%= current_user.email %>
            </li>
            <li class="nav-item">
              Coins:
            </li>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">CASH IN NOW</button>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <%= link_to "My Profile", users_profile_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Facebook</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!--Show Page-->
<div class="container" style="margin-top: 100px">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <div class="card">
      <div class="card-body">

        <div class="d-flex justify-content-md-center" >
          <%= image_tag "#{request.base_url}/#{current_user.image.url}" if current_user.image %>
        </div>
        <div class="mb-3" style="margin: 20px">
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Username: <%= current_user.username %></label>
        </div>
        <div class="mb-3" style="margin: 20px">
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email: <%= current_user.email %></label>
        </div>
        <div class="mb-3" style="margin: 20px">
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Coins:</label>
        </div>

        <div class="mb-3">
          <a href="#" class="btn btn-primary form-control">Cash in Now</a>
        </div>
  <!--action button-->
        <div class="row">
          <div class="col">
            <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary form-control'%>
          </div>
          <div class="col">
            <a href="#" class="btn btn-primary form-control">Address</a>
          </div>
        </div>
      </div>
    </div>
</div>

<!--Footer-->
<ul class="nav bg-light justify-content-center fixed-bottom ">
  <li class="nav-item">
    <a class="nav-link" href="#">Share</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Invite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Lottery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Shop</a>
  </li>
  <li class="nav-item">
    <%= link_to "Me", users_profile_path, class: 'nav-link' %>
  </li>
</ul>
















