<!--Index Page-->
<div class="container" style="height: 100vh">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!--action button-->
  <div class="row">
    <div class="col">
      <%= link_to "Back", users_profile_path, class: 'btn btn-primary form-control'%>
    </div>
    <div class="col">
      <%= link_to "Add Address", new_users_address_path, class: 'btn btn-primary form-control'%>
    </div>
  </div>
  <br>
  <% unless @addresses.present? %>
      <h2>No address to show</h2>
  <% end %>
  <% @addresses.each do |address| %>
    <div class="card" style="background-color: lightgray">
      <div class="card-body" style="padding: 10px; background-color: lightcyan; margin: 10px">
        <%= address.is_default == true ? 'Default' : ''%>
        <%= address.genre %>
        <div class="mb-2" >
          <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Full Name: <%= address.name %></label>
        </div>
        <div class="mb-2">
          <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Phone Number: <%= address.phone_number %></label>
        </div>
        <div class="mb-2">
          <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">
            Address: <%= address.street_address%> <%= address&.region.name%>, <%= address&.province.name%>, <%= address&.city.name%>, <%= address&.barangay.name%>  </label>
        </div>
          <%= link_to 'Edit', edit_users_address_path(address), class: 'btn btn-info'%>

        <%= button_to "Delete", users_address_path(address), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'  unless address.is_default %>
      </div>
    </div>
    <br>
  <% end %>
</div>
<%= render "layouts/nav" %>
















