<!--header-->
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <%= link_to 'Logo', client_root_path, class: 'navbar-brand' %>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: 'nav-link' unless user_signed_in? %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' unless user_signed_in? %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Language</a>
      </li>
      <li class="nav-item">
        <button class="navbar-toggler" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <span class="navbar-toggler-icon"></span>
        </button>
      </li>
    </ul>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Info</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body text-decoration-none">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <% if current_user %>
            <li class="nav-item">
              Username:
            </li>
            <li class="nav-item">
              Email: <%= current_user.email %>
            </li>
            <li class="nav-item">
              Coins:
            </li>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">CASH IN NOW</button>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <%= link_to "My Profile", users_profile_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Facebook</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!--Page-->
<div class="container" style="margin-top: 100px">
  <% if @address.errors.any? %>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col">
      <%= link_to "Back", users_addresses_path, class: 'btn btn-primary form-control'%>
    </div>
    <div class="col text-danger text-center bg-light">
      <h4>YOU CAN CREATE FIVE ADDRESS ONLY</h4>
    </div>
  </div>

  <%= form_for @address, url: users_addresses_path(@address), method: :post do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :street_address %>
      <%= f.text_field :street_address, class: 'form-control' %>
    </div>

    <div class="form-group">
      <br>
      <%= f.select(:genre, Address.genres.keys.map {|key| [key.humanize, key]}, {:prompt => 'Genre'}, class: 'form-control')%>
    </div>

    <div class="field">
      <%= f.label :region_id %>
      <%= f.collection_select :region_id, Region.order(:region_name),:id,:region_name, {:prompt => 'Regions'}, include_blank: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :province_id %>
      <%= f.collection_select :province_id, Province.order(:name),:id,:name, {:prompt => 'Province'}, include_blank: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :city_id %>
      <%= f.collection_select :city_id, City.order(:name),:id,:name, {:prompt => 'City'}, include_blank: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :barangay_id %>
      <%= f.collection_select :barangay_id, Barangay.where("id <= ?", 100 ).order(:name),:id,:name, {:prompt => 'Barangay'}, include_blank: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :remark %>
      <%= f.text_area :remark, class: 'form-control' %>
    </div>

    <%= f.check_box :is_default %>
    <%= f.label :is_default, 'Default' %>

    <%= f.submit "Create", class: 'border btn btn-primary form-control' %>
    <% end %>
</div>

<!--footer-->
<ul class="nav bg-light justify-content-center fixed-bottom ">
  <li class="nav-item">
    <a class="nav-link" href="#">Share</a>
  </li>
  <li class="nav-item">
    <%= link_to "Invite", users_invite_people_path, class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Lottery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Shop</a>
  </li>
  <li class="nav-item">
    <%= link_to "Me", users_profile_path, class: 'nav-link' %>
  </li>
</ul>