<div class="col py-3">
  <div class="card" style="background-color: #000033">
    <h1 style="font-family: Courier" class="text-light text-center">Winner List</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <%= form_tag({ url: admins_winners_path }, { method: :get }) do %>
        <div class="row text-lg-start">
          <div class="col-4">
            <%= label_tag :serial_number %>
            <%= text_field_tag :serial_number, params[:serial_number], class: "form-control" %>
          </div>
          <div class="col-4">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email], class: "form-control" %>
          </div>
          <div class="col-4">
            <%= label_tag :state %>
            <%= select_tag :state, options_for_select(Winner.aasm.states.map(&:name)), { prompt: 'Choose State', class: "form-control form-select text-center" } %>
          </div>
        </div>
        <div class="row text-lg-start">
          <%= label_tag :date_created, 'Date Created' %>
          <div class="col-6">
            <div class="input-group">
              <span class="input-group-text">Start</span>
              <%= datetime_field_tag :start, params[:start], class: "form-control" %>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <span class="input-group-text">End</span>
              <%= datetime_field_tag :end, params[:end], class: "form-control" %>
            </div>
          </div>
        </div>
        <%= link_to 'Reset', admins_winners_path, class: "btn btn-danger mt-2 mb-2" %>
        <%= submit_tag :Search, class: "btn btn-primary mt-2 mb-2" %>
      <% end %>
      <%= render 'layouts/errors_message' %>
      <table class="table text-start table-bordered ">
        <thead class="thead text-light bg-dark" style="font-family: 'Comic Sans MS'">
        <tr>
          <th scope="col">Serial Number</th>
          <th scope="col">Batch Count</th>
          <th scope="col">User Email</th>
          <th scope="col">State</th>
          <th scope="col">Address</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @winners.each do |winner| %>
          <tr>
            <td><%= winner.bet.serial_number %></td>
            <td><%= winner.item.name %></td>
            <td><%= winner.user.email %></td>
            <td><%= winner.state %></td>
            <td><%= concat_address(winner.address) %></td>
            <td><%= winner.created_at %></td>
            <td class="text-center">
              <%= link_to "Submit", admins_winner_submit_path(winner), class: 'btn btn-info btn-sm', method: :put if winner.may_submit? %>
              <%= link_to "Pay", admins_winner_pay_path(winner), class: 'btn btn-info btn-sm', method: :put if winner.may_pay? %>
              <%= link_to "Ship", admins_winner_ship_path(winner), class: 'btn btn-info btn-sm', method: :put if winner.may_ship? %>
              <%= link_to "Deliver", admins_winner_deliver_path(winner), class: 'btn btn-info btn-sm', method: :put if winner.may_deliver? %>
              <%= link_to "Publish", admins_winner_publish_path(winner), class: 'btn btn-info btn-sm', method: :put if winner.may_publish? %>
              <%= link_to "Remove Publish", admins_winner_remove_publish_path(winner), class: 'btn btn-info btn-sm', method: :put if winner.may_remove_publish? %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% if @winners.blank? %>
        <h2 class="text-center text-danger">NO WINNER TO SHOW</h2>
      <% end %>
    </div>
  </div>
  <br>
</div>