<div class="col py-3">
  <div class="card" style="background-color: #000033">
    <h1 style="font-family: Courier" class="text-light text-center"> Item List</h1>
  </div>
  <div>
    <br/>
    <%= render 'layouts/errors_message' %>
    <table class="table text-center table-bordered ">
      <thead class="thead text-light bg-dark" style="font-family: 'Comic Sans MS'">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Minimum Bets</th>
        <th scope="col">State</th>
        <th scope="col">Category</th>
        <th scope="col">Batch Count</th>
        <th scope="col">Online At</th>
        <th scope="col">Offline At</th>
        <th scope="col">Start At</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% if @items.blank? %>
        <h2>No item to show</h2>
      <% end %>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag item.image.url, style: 'height:50px' if item.image.present? %></td>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.minimum_bets %></td>
          <td><%= item.state %></td>
          <td><%= item.category.name %></td>
          <td><%= item.batch_count %></td>
          <td><%= item.online_at %></td>
          <td><%= item.offline_at %></td>
          <td><%= item.start_at %></td>
          <td><%= item.status %></td>
          <td>
            <div class="m-1">
              <%= link_to "Start", admins_item_start_path(item), class: 'btn btn-outline-info btn-sm', method: :put if item.may_start? %>
              <%= link_to "Pause", admins_item_pause_path(item), class: 'btn btn-outline-info btn-sm', data: { confirm: "Are you sure?" }, method: :put if item.may_pause? %>
              <%= link_to "Cancel", admins_item_cancel_path(item), class: 'btn btn-outline-info btn-sm', data: { confirm: "Are you sure?" }, method: :put if item.may_cancel? %>
              <%= link_to "End", admins_item_end_path(item), class: 'btn btn-outline-info btn-sm mt-1', data: { confirm: "Are you sure?" }, method: :put if item.may_end? %>
            </div>
            <%= link_to 'Edit', edit_admins_item_path(item), class: 'btn btn-primary btn-sm mt-1' %>
            <%= link_to 'Delete', admins_item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm mt-1' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'Add Item', new_admins_item_path, class: 'btn text-light', style: 'background-color: #000033' %>
  </div>
</div>
