<div class="col py-3">
  <div class="card" style="background-color: #000033">
    <h1 style="font-family: Courier" class="text-light text-center"> Item List</h1>
  </div>
  <div>
    <br>
    <% if notice %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <table class="table text-center table-bordered ">
      <thead class="thead text-light bg-dark" style="font-family: 'Comic Sans MS'" >
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Minimum Bets</th>
        <th scope="col">State</th>
        <th scope="col">Batch Count</th>
        <th scope="col">Online At</th>
        <th scope="col">Offline At</th>
        <th scope="col">Start At</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% unless @items.present? %>
        <h2>No item to show</h2>
      <% end %>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag item.image.url, style: 'height:50px' if item.image?%></td>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.minimum_bets %></td>
          <td><%= item.state %></td>
          <td><%= item.batch_count %></td>
          <td><%= item.online_at %></td>
          <td><%= item.offline_at %></td>
          <td><%= item.start_at %></td>
          <td><%= item.status %></td>
          <td>
            <%= link_to 'Edit', edit_admins_item_path(item), class: 'btn btn-info' %>
            <%= link_to 'Delete', admins_item_path(item), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'Create', new_admins_item_path, class: 'btn btn-info' %>
  </div>
</div>
