<%= render "layouts/carousel" %>
<section style="height: 100vh; padding-top: 5px">
  <%= render 'layouts/errors_message' %>
  <div class="container overflow-hidden">
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-6">
          <div class="border bg-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= offer.id %>">
            <%= image_tag offer.image.url, class: 'd-block w-100' %>
          </div>
          <div class="modal fade" id="staticBackdrop<%= offer.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg text-center">
              <div class="modal-content">
                <div class="modal-body">
                  Do you want to pay <span class="text-danger">₱<%= offer.amount %></span> and get <span class="text-danger"><%= offer.coin %>coins</span>?
                </div>
                <div class="modal-footer">
                  <%= link_to "Order Now!", users_offer_order_path(offer), class: 'btn btn-outline-info btn-sm', method: :post %>
                  <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= render "layouts/nav" %>