<%= render "layouts/carousel" %>
<section style="padding-top: 10px; height: 100vh">
  <div class="container overflow-hidden">
    <%= render 'layouts/errors_message' %>
    <h4>Winners Feedback</h4>
    <% @winners.each do |winner| %>
      <%= link_to users_share_feedback_path(winner), class: 'text-decoration-none' do %>
        <div class="card mt-1" >
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <%= image_tag winner.picture.url, style: 'height:100%; width: 100%' if winner.picture %>
              </div>
              <div class="col-sm-9 mt-4 text-decoration-none">
                <h4><%= winner.user.username %></h4>
                <h3><%= winner.comment %></h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
<%= render "layouts/nav" %>