<%= render "layouts/carousel" %>
<%= render 'layouts/errors_message' %>
<section style="padding-top: 10px; height: 100vh">
  <div class="container">
    <h4>Winners Experience</h4>
    <div class="row" style="font-family: Verdana">
      <% @winners.each do |winner| %>
        <div class="col-4 d-flex align-self-stretch">
          <div class="card shadow-none mb-2 border-0 bg-light">
            <div class="card-body flex-column">
              <%= link_to users_share_feedback_path(winner), class: 'text-decoration-none' do %>
                <%= image_tag winner.picture.url, style: 'height:100%; width: 100%' if winner.picture %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @winners.size == 5 %>
        <div class="col-4">
          <%= link_to users_share_feedbacks_path, class: 'img-fluid text-decoration-none text-dark' do %>
            <div class="card bg-secondary">
              <div style="aspect-ratio: 1 / 1; display: flex; align-items: center; justify-content: center;">More...</div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= render "layouts/nav" %>










