<!--Edit Page-->
<div class="container" style="height: 100vh">
  <div class="d-flex justify-content-center" >
    <%= image_tag "#{request.base_url}/#{current_user.image.url}" if current_user.image %>
  </div>

  <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: @user %>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', disabled: true %>
    </div>

    <div class="field">
      <%= f.label :username, 'Username' %><br/>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :phone, 'Phone Number' %><br/>
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(We need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      <% if @minimum_password_length %>
        <br/>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>
<br>
    <div class="row">
        <div class="col">
          <%= f.submit "Update", class: 'border btn btn-primary form-control' %>
        </div>
        <div class="col">
          <%= link_to "Back", :back, class: 'btn btn-primary form-control' %>
        </div>
    </div>
  <% end %>
</div>
<%= render "layouts/nav" %>




















