<!--Sign up-->
<section class="vh-100" style="background-color: #ffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 2rem;">
          <div class="card-body p-5 text-center">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
              <li class="nav-item" role="presentation">
                <%= link_to "Log in", new_session_path(resource_name), class: "nav-link" %>
              </li>
              <li class="nav-item" role="presentation">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link active" %>
              </li>
            </ul>
            <!-- Pills navs -->
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
              <% if cookies[:promoter] %>
                <div class="field">
                  <%= f.label :promoter %>
                  <br>
                  <%= f.email_field :parent, autofocus: true, autocomplete: "email", value: cookies[:promoter], readonly: true %>
                </div>
              <% end %>

              <div class="field">
                <%= f.label :email %><br/>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br/>
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br/>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<%= render "layouts/nav" %>